nz-list-item{
    border-radius: 20px; 
}

.ant-descriptions-title {
    margin-bottom: 20px;
    color: #3f3d56;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.5;
}

.ant-comment-content-author-time{
    color : #a9a9a9; 
}

