.ant-avatar{
    color: #ffffff;
    background-color: #b4a7ff94;
}

.badge-active{
    background-color: #e6fcfc;
    color:#0dc2a2
}
.badge-inactive {
    background-color: #fce6ee;
    color: #cc3d49 !important;
}

.rounded-lg {
    border-radius:330px !important;
}
