<div class="row">
    <div class="col-12 px-4">
        <div class="bg-white rounded mx-3">
            <nz-card nzTitle="Filtres" [nzExtra]="extraTemplate">
                <div class="row">
                    <div class="col-3">
                        <nz-input-group [nzPrefix]="suffixIconSearch">
                            <input type="text" [(ngModel)]="filters.keyword" (input)="getUsers()" nz-input placeholder="Rechercher par nom" />
                        </nz-input-group>
                        <ng-template #suffixIconSearch>
                            <i nz-icon nzType="search"></i>
                        </ng-template>
                    </div>
                    <div class="col-3">
                        <nz-select nzShowSearch class="w-100" [(ngModel)]="filters.role_id" (ngModelChange)="getUsers()"  nzAllowClear nzPlaceHolder="Selectionnez un rôle">
                            <nz-option *ngFor="let role of roles" [nzLabel]="role.libelle" [nzValue]="role.id"></nz-option>
                          </nz-select>
                    </div>
                </div>
            </nz-card>
            <ng-template #extraTemplate>
                <a><i nz-icon nzType="arrow-down" nzTheme="outline"></i></a>
            </ng-template>
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="col-3 mb-4 px-4" *ngFor="let user of users">
        <div class="card bg-white shadow-sm border-0 rounded mx-3 pb-4">
            <div class="role">
                <div class="rounded-lg badge py-2 px-3 mt-4 float-right mr-4">
                    <nz-badge nzColor="#0dc2a2"></nz-badge>
                    {{user?.role?.libelle}}
                </div>
            </div>
            <div class="avatar mt-3">
                <nz-avatar [nzShape]="'square'" [nzSize]="90" [nzText]="getAvatarLetter(user)" class="mx-auto d-block">
                </nz-avatar>
            </div>
            <div class="content p-3">
                <h5 class="text-center font-weight-bold">{{user.firstname}} {{user.lastname}}</h5>
                <p class="text-center"><i class="feather icon-map-pin"></i> Lyon, FR
                    <nz-badge nzColor="#5f5f5f" class="ml-2"></nz-badge> Depuis {{user.created_at | date:'MMM yyyy'}}
                </p>
            </div>
            <button nz-button nzType="primary" class="mx-4" (click)="showDetails(user)">Afficher le profil</button>
        </div>
    </div>
</div>
<nz-empty *ngIf="users?.length == 0"></nz-empty>