.ant-avatar{
    color: #ffffff;
    background-color: #b4a7ff94;
}

nz-select{
    width:100% ;
}

.bg-white{
    border-radius: 15px !important;
}

img {
    display: none;
}


img[src] {
   display: block;
 }