

.ant-descriptions-title {
    margin-bottom: 20px;
    color: #3f3d56;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.5;
}

.ant-comment-content-author-time{
    color : #a9a9a9; 
}

.ant-avatar{
    color: #ffffff;
    background-color: #b4a7ff94;
}

.bubble-card{
    cursor: pointer;
}
