<nz-layout class="top-container">
    <nz-sider>
        <app-sidebar></app-sidebar>
    </nz-sider>
    <nz-layout>
        <app-header></app-header>
        <nz-content>
            <div class="row mx-0 p-0">
              <div class="col ml-5 p-0 p-md">
                  <nz-breadcrumb [nzAutoGenerate]="true">
                      <nz-breadcrumb-item>
                          <a routerLink="/dashboard"><i nz-icon nzType="home"></i> Home</a>
                      </nz-breadcrumb-item>
                  </nz-breadcrumb>
              </div>
          </div>
            <div class="mx-5">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
    </nz-layout>
</nz-layout>