.top-menu {
  width: 69px;
  height: calc(50vh - 150px);
  min-height: 5vh;
  border-top-right-radius: 50px;

  background-color: #9b89ff;
}
.bottom-menu {
    width: 69px;
    height: calc(50vh - 150px);
    min-height: 5vh;
    border-bottom-right-radius: 50px;
    background-color: #9b89ff;
  }

.ant-layout-sider {
  position: relative;
  min-width: 0;
  background: #9b89ff;
  width: 69px !important;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}


i {
  text-align: center;
  font-size: 23px;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    height: 300px;
    align-items: center;
    background-color: #9b89ff;
}


li{
    //margin-left: 46px;
    padding-left:10px !important;
    margin-top:0px !important;
    margin-bottom: 0px !important;
    //background-color: #9b89ff;
    line-height: 60px;
    min-height:60px;
    color:#fff;
}

.ant-menu-item{
    line-height: 60px;
    height:60px;
}

.ant-menu-item-selected{
    background-color: #9b89ff !important;
    i{
      font-weight: bold;
    }
}

.ant-menu-inline .ant-menu-item::after{
  background-color: #9b89ff05;
}
