nz-select{
    min-width : 200px
}

nz-list-item{
    border-radius : 10px;
    :hover{
        cursor:pointer;
        a{
            color :#9b89ff;
        }
    }
}

.ant-avatar{
    color: #ffffff;
    background-color: #b4a7ff94;
}