<div class="px-5">
  <h2>Activité récente</h2>
  <div class="row">
    <div class="col-8">
      <app-activity-list></app-activity-list>
    </div>
    <div class="col">
      <div class="row">
        <div class="bg-white right-block mt-3 p-3 shadow-sm">
          <div class="col-12">
            <h3>Demandes traitées</h3>

            <div class="d-block mx-auto w-50">
              <nz-progress nz-tooltip nzType="dashboard" [nzPercent]="stats?.percentage" [nzSuccessPercent]="30"
                nzStatus="active" [nzStrokeColor]="{ '0%': '#9b89ff', '50%': '#9b89ff', '100%': '#9b89ff' }">
              </nz-progress>
            </div>
            <div *ngFor="let stat of stats?.stats">
              <nz-badge [nzColor]="stat.status.color" nzText="{{stat.count}} {{stat.status.libelle}}"></nz-badge>
              <br />
            </div>

          </div>
        </div>
        <div class="col-12">
          <div class="bg-white right-block mt-3 p-3 shadow-sm">
            <h3>test thibaut</h3>
            <canvas baseChart #myCanvas [datasets]="lineChartData" [labels]="lineChartLabels"
              [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
              [chartType]="lineChartType"></canvas>
          </div>
        </div>

      </div>
    </div>



  </div>