<div class="px-5">
  <div class="row">
    <div class="col-7">
      <div class="row mt-3">
        <div class="col">
          <div class="shadow rounded-block text-white p-4 offer">
            <!-- <h4 class="text-white">Mon titre</h4> -->
            <!-- <img src="../../../assets/iso-canvas-cropped.png" style="height:150px"> -->
            <div class="row mt-5">
              <div class="offset-6 col-6">
                <h4 class="text-white text-center">Galaxy Swiss Bourdin</h4>
                <p class="text-center">Application de gestion des frais des salariés de la société.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h2 class="mt-4">Activité récente</h2>
      <app-activity-list></app-activity-list>
    </div>
    <div class="offset-1 col-4">
      <div class="row">
        <div class="col-12">
          <div class="bg-white right-block mt-3 p-3 shadow-sm">
            <h6>Demandes traitées</h6>

            <div class="d-block mx-auto w-25">
              <nz-progress nz-tooltip nzType="dashboard" [nzPercent]="stats?.percentage" [nzSuccessPercent]="30"
                nzStatus="active" [nzStrokeColor]="{ '0%': '#9b89ff', '50%': '#9b89ff', '100%': '#9b89ff' }">
              </nz-progress>
            </div>
            <div *ngFor="let stat of stats?.stats">
              <nz-badge [nzColor]="stat.status.color" nzText="{{stat.count}} {{stat.status.libelle}}"></nz-badge>
              <br />
            </div>

          </div>
          <div class="bg-white right-block mt-3 p-3 shadow-sm" style="min-height:350px;">
            <ngx-charts-bar-vertical [gradient]="false" [view]="[400,300]" [scheme]="colorScheme" [results]="data"
              [xAxis]="true" [yAxis]="true">
            </ngx-charts-bar-vertical>
          </div>
        </div>
        <div class="col-12"> 
          <div class="bg-white right-block mt-3 p-3 shadow-sm" style="min-height:250px;">
            <h6>Activités <small class="text-muted text-small text-right float-right">[{{stats?.by_date?.from | date}} - {{stats?.by_date?.to | date}}]</small></h6>
            <ngx-trend autoDraw="true" autoDrawDuration="3000" autoDrawEasing="ease-out" smooth="true"
              [data]="stats?.by_date?.values" [gradient]="['#9b89ff', '#a270d6', '#9f76da', '#9b89ff', '#9880e2', '#917ce5', '#9b89ff', '#8274ec', '#7466f0', '#6457f3', '#5148f6', '#3838f8']" radius="10"
              strokeWidth="2" strokeLinecap="butt" height="200" width="450">
            </ngx-trend>  
          </div>
        </div>

      </div>
    </div>
  </div>